
.app-footer{
    /* position: absolute; */
    /* bottom: 0px; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    gap: 10px;
}

.app-footer h1{
    margin: 0;
}